.main-content {
    height: 1000px;
    display: flex;
}

.navbar {
    background-color:black;
}

#navbar-footer {
    background-color: black;
}

.main-content {
    margin: 100px auto 0 auto;
    
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: auto;
}

.sub-content {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub-content.reverse {
    flex-direction: row-reverse;
}

.side-img {
    flex-basis: 40%;
}

.tribe-name {
    /* display: none; */
   
    font-size: 100px;
    flex-basis: 60%;
    padding: 20px;
    flex-basis: 60%;

    display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  
  /* opacity: 0; */
    /* animation: 1.5s fadein 0.5s forwards; */


}



.tribe-content {

    padding: 20px;
    flex-basis: 60%;
    opacity: 0;
    animation: 1.5s fadein 0.5s forwards;
}

.sub-content .side-img{
    height: 350px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #3f51b5;

    
}

@keyframes fadein {
    100%{
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        /* height: 300px; */
        opacity: 1;
    }
    100% {
        opacity: 1;
        height: 0;

        
    }
}

.hide {
    display: none;


}

.fadeout {

    animation: 0.5s fadeout 0 forwards;
}





.red {
    color: red;
}

