.main-content {
    height: 1000px;
    display: flex;
}

.navbar {
    background-color:black;
}

#navbar-footer {
    background-color: black;
}

.main-content {
    margin: 100px auto 0 auto;
    
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: auto;
}

.sub-content {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub-content.reverse {
    flex-direction: row-reverse;
}

.side-img {
    flex-basis: 40%;
}

.tribe-name {
    /* display: none; */
   
    font-size: 100px;
    flex-basis: 60%;
    padding: 20px;
    flex-basis: 60%;

    display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;


}

.tribe-name h1 {
    
}

.tribe-content {

    padding: 20px;
    flex-basis: 60%;
}

.sub-content .side-img{
    height: 350px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #3f51b5;
}

.hide {
    display: none;
}

.red {
    color: red;
}