.main-content {
    height: 1000px;
    display: flex;
}

.navbar {
    background-color:black;
}

#navbar-footer {
    background-color: black;
}

.main-content {

    margin: 0 0 0 0;
    width: 100%;
    padding-top: 100px;
    /* padding: 100px 10%; */
    
    display: flex;
    flex-direction: column;


}

.sub-content {
    padding: 0 5%;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub-content.reverse {
    flex-direction: row-reverse;
}

.side-img {
    flex-basis: 40%;
}

.name-content {

    font-size: 100px;
    flex-basis: 60%;
    padding: 20px;
    flex-basis: 60%;


}

.tribe-name {
    /* display: none; */
   
    font-size: 100px;
    flex-basis: 60%;
    padding: 20px;
    flex-basis: 60%;

    display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  
  /* opacity: 0; */
    /* animation: 1.5s fadein 0.5s forwards; */


}



.tribe-content {

    padding: 20px;
    flex-basis: 60%;
    opacity: 0;
    animation: 1.5s fadein 0.5s forwards;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sub-content .side-img{
    /* height: 350px; */
    padding: 20px;
    /* background-clip: content-box; */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-color: #3f51b5; */

    
}

@keyframes fadein {
    100%{
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        /* height: 300px; */
        opacity: 1;
    }
    100% {
        opacity: 1;
        height: 0;

        
    }
}



.hide {
    display: none;


}

.fadeout {

    animation: 0.5s fadeout 0 forwards;
}

.carousel-frame {
    flex-basis: 40%;
    overflow: hidden;
    min-height: 300px;
    max-height: 300px;
    margin: 0;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.space-between {
    min-height: 50px;
}



.red {
    color: red;
}


@media (max-width: 850px){

   

    .sub-content{
        flex-direction: column;

    }
    .tribe-content{
        min-height: 400px;
    }

    .tribe-name {
        min-height: 400px;
    }
    
    .sub-content.reverse{
        flex-direction: column;
    }

    .main-content{
        height: 2000px;

    }
}
.paragraph {
   letter-spacing: 1.5px;
   line-height: 2;
}
.firstLetter {
    font-size: 20px;
    font-weight: bold;
}
.carousel-inner {
    width: 100%;
}
.carousel-item img{
  object-fit:cover;
  height:300px !important;
  width:350px;
}
 
  
