html,
body {
    margin: 0;

    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;

    background-color: rgba(15, 15, 15);
}

.fas.fa-bars {
    display: none;
}


@keyframes op1 {

    0% {
        opacity: 0.0;
        right: 300px;
    }

    100% {

        opacity: 1.0;
        right: 0;
    }

}

* {
    font-size: 12px;
    margin: 1px;
    font-family: 'Playfair Display', serif;



}

body {

    overflow: auto;
    animation: none;
}

.top {
    width: 100%;
    height: 10%;
    margin: 0;

    display: inline-block;
    background-color: transparent;



    /* border-bottom: 10px groove rgb(255, 255, 255); */
}

.content {
    width: 100%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;

    /* overflow: auto; */
    /* background-image: url("../img/Mien/mein02.JPG"); */
    background-size: cover;
    background-position: center;
    animation: none;
    margin: 0;
    display: block;
    background-color: #232323;
    -webkit-box-shadow: inset 2px 10px 129px 31px rgba(15, 15, 15, 0.82);
    -moz-box-shadow: inset 2px 10px 129px 31px rgba(15, 15, 15, 0.82);
    box-shadow: inset 2px 10px 129px 31px rgba(15, 15, 15, 0.493);
    z-index: 1;
    position: relative;


}

/* Didn't use */
/* .background-content{
    background-image: url("../img/Mien/mein02.JPG");
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    z-index:-1;
    position:relative;
    

} */

.bottom {
    width: 100%;
    height: 10%;
    margin: 0;
    display: block;
    background-color: #232323;
    -webkit-box-shadow: 2px 10px 129px 31px rgba(34, 34, 34, 0.82);
    -moz-box-shadow: 2px 10px 129px 31px rgba(34, 34, 34, 0.82);
    box-shadow: 2px 10px 129px 31px rgba(34, 34, 34, 0.82);
    border-top: 10px ridge rgb(230, 164, 42);
}

.con-left-1,
.con-right-1,
.con-center-1,
.con-left-2,
.con-right-2,
.con-center-2 {
    background: rgb(224, 224, 224);
    -webkit-box-shadow: 2px 10px 129px 31px rgba(15, 15, 15, 0.82);
    -moz-box-shadow: 2px 10px 129px 31px rgba(15, 15, 15, 0.82);
    box-shadow: 2px 10px 129px 31px rgba(15, 15, 15, 0.82);

}

.con-left-1,
.con-left-2,
.con-right-1,
.con-right-2 {
    width: 15%;
    height: 95%;

    margin: 2.5%;
    float: left;
}

.con-center-1,
.con-center-2 {
    width: 55%;
    height: 95%;

    margin: 2.5%;
    float: left;
}

.row-1,
.row-2 {

    padding: 5%;
    height: 40%;


}




.home,
.home-button,
.home-button:hover,
.home-button-a,
.home-button-a:hover {
    text-align: center;
    color: #ffffff;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    outline: none;
    float: left;
}

.home-button,
.home-button:hover,
.home-button-a,
.home-button-a:hover {
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 2px;
    width: 100%;
    height: 100%;


    background-color: transparent;
    border: none;
    outline-style: none;
}

.bar {
    text-align: center;
    color: #ffffff;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    outline: none;

    float: right;
}

.bar-item {

    font-size: 1.1em;
    height: 100%;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

h1,
p {
    text-align: center;
    color: #ffffff;
    font-size: 5.0em;
    animation: op1 2.0s;
    /* -webkit-text-shadow: inset 2px 10px 129px 31px rgba(15, 15, 15, 0.82);
    -moz-text-shadow: inset 2px 10px 129px 31px rgba(15, 15, 15, 0.82);
    text-shadow: inset 2px 10px 129px 31px rgba(255, 255, 255, 0.493); */
}


p {
    text-align: justify;
    font-size: 1.0em;
}





@media screen and (max-height: 498px) {



    .socialBar {
        display: none;
    }

    html {
        min-height: 700px;
    }

    


}

@media screen and (max-width: 1000px) {

    .row.banner {
       
        font-size: 10px;
        
    }
}

@media screen and (max-width : 769px) {

   
    .navbar-toggler-icon{
        display: block;
    }
    .socialBar {
        display: none;
    }


    .bar {
        display: none;
    }

    .row.banner {
       
        flex-direction: row;
        
    }

    .col.collapse{
        display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
    }

    .fas.fa-bars {
        display: inline-block;
        font-size: 20px;
        color: white;
    }

}







/* ==============Social bar ====================*/
.socialBar {
    /*JUST FOR POSITIONING THE SOCIAL DIV: CENTERED RIGHT*/
    position: fixed;
    right: 15px;
    /*THIS WILL TAKE YOU A MARGIN FROM RIGHT*/
    top: 50%;

    /*CENTER THE DIV, DO NOT EDIT*/
    transform: translate(0%, -50%);
    /*CENTER THE DIV, DO NOT EDIT*/
    -webkit-transform: translate(0%, -50%);
    /*CENTER THE DIV, DO NOT EDIT*/
    -moz-transform: translate(0%, -50%);
    /*CENTER THE DIV, DO NOT EDIT*/
    -o-transform: translate(0%, -50%);
    /*CENTER THE DIV, DO NOT EDIT*/
    background-color: rgba(255, 210, 64, 0);
    /*WHATEVER COLOR THAT YOU WANT*/


}

.socialBar .ico {
    display: block;
    /*VERTICAL POSITION*/
    padding: 0;
    /*DO NOT EDIT, MAINTAINS THE CORRECT SIZE FOR BACKGROUND COLOR*/
}

.socialBar:hover .ico {
    /*JUST ANIMATION, YOU CAN REMOVE IT IF YOU WANT A FAST COLOR CHANGE*/
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.socialBar .FbIcon:hover {
    /*THIS MAKES A COLOR CHANGE*/
    border-radius: 30%;
    background-color: #3B5998;
}

.socialBar .IgIcon:hover {
    border-radius: 30%;
    background-color: rgb(139, 44, 119);
}

.socialBar .YtIcon:hover {
    border-radius: 30%;
    background-color: #BF221F;
}

.socialBar .SkIcon:hover {
    border-radius: 30%;
    background-color: #2AA4E9;
}

a,
a:hover {
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 2px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
    border: none;
    outline-style: none;
}


/* ==============Social bar ====================*/

/* ==============Side bar ====================*/
.side-bar1 {

    background-color: rgb(255, 64, 64);
    transition: all 1.0s;

    /* animation: 1.0s slide-out ease-in-out; */

}

/* .side-bar2{
    left:-300px;
    width: 300px;
    height:100vh;
    background-color: rgb(255, 210, 64);
    position:fixed;
    left:0;
    animation: 1.0s slide-in ease-in-out;
} */

.side {
    width: 300px;
    height: 100vh;
    background-color: rgb(255, 210, 64);
    position: fixed;
    left: 0;
    transition: all 1.0s;
}

.side:hover {
    width: 300px;
    height: 100vh;
    background-color: rgb(255, 64, 64);
    position: fixed;
    left: 0;

}

@keyframes slide-in {
    0% {
        left: 0;
    }

    100% {
        left: 300px;
    }
}

@keyframes slide-out {
    0% {
        right: -300px;
    }

    100% {
        right: 0;
    }
}

/* ==============Side bar ====================*/